.kanban_box{
    list-style-type: none;
    width: 250px;
    float: left;
    padding: 2px;
    margin: 5px;
    background-color: white;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);*/
    -webkit-border-radius: 2px;
}
.kanban-container{
    
}
.boximg{
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
